# pnpm configuration
auto-install-peers = true
dedupe-peer-dependents = true
enable-pre-post-scripts = true
fund = false
hoist-pattern[0] = "*eslint*"
hoist-pattern[1] = "*prettier*"
prefer-workspace-packages = true
resolution-mode = highest
save-exact = false
shared-workspace-lockfile = true
strict-peer-dependencies = false
